body{
    background: #ce79ce;
    display: grid;
    place-items: center; 
    height: 150vh;
    margin: 0;
}
.card{
    background: #fdfdfd;
    border-radius: 4px;
    height: 250;
    width: 120vh;
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.16), 0 3px 6px rgba( 0, 0, 0, 0.23) ;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;

}

img.birthday {
 max-height: 40vh;
}

.muted {
    opacity: 0.8;
}

.space{
    height: 100px;
}